@font-face {
    font-family: '8bitOperatorPlus-Regular';
    src: url("./fonts/PixelOperator8.ttf");
  }
 

@font-face {
    font-family: '8bitOperatorPlus-bold';
    src: url("./fonts/PixelOperator8.ttf"); 
}
 