@font-face {
  font-family: '8bitOperatorPlus-Regular';
  src: url("./fonts/PixelOperator8.ttf");
}

@font-face {
  font-family: '8bitOperatorPlus-Bold';
  src: url("./fonts/PixelOperator8-Bold.ttf"); 
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background:#000;
    font-family:'8bitOperatorPlus-Bold';
  color:#fff;
  padding:15px;}
  
  .form-control[type=text], textarea.form-control {
  border:none;
  color:#000;
  background-color:#fff;
  }
  
  .form-control[type=text]::placeholder, textarea.form-control::placeholder {
    color:#888 !important;
  }
  
  a {
  color: #fff;
  text-decoration:underline;
  }
  
  .btn-primary {
      font-family: "8bitOperatorPlus-Regular", monospace;
  -webkit-font-smoothing: antialiased;
  font-size: larger;
  background-color:#000;
  color:#fff;
  border:5px solid #fff;
  border-radius:0;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      border-color: #ffff00;
      background-color: #000;
  color:#ffff00;
    }
  
  .img-fluid {
  max-width:300px;
  }
  
  center {
  text-align:center;
  padding:10px;
  }
  
  h1 {
  text-align:center;
  }
  
  p, div>span {
  font-family: "8bitOperatorPlus-Regular", monospace;
  -webkit-font-smoothing: antialiased;
  font-size:18px;
  }
  
  h1, p {
  margin-top:25px;
  }
  
  label.radio {
  display:block;
  cursor:pointer;
  margin: 10px 0;
  }
  
  .frequency_tiers {
    padding-bottom: 20px;
  }
  